*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    color: #F4CE14;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #7d2525, #826728) ;
    min-height: 100vh;
    flex-direction: column;
}
.stopwatch{
    background-color: #003092;
    padding: 25px 25px;
    width: 27%;
    border-radius: 8px;

}
.timerDisplay{
    font-weight: 600;
    font-size: 70px;
}
.buttons{
    margin-top: 20px;
}

.btn{
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
}   